@import '~antd/lib/style/themes/default.less';

.generalTable {
  :global {
    .ant-table {
      th,
      td {
        white-space: nowrap;
      }
    }
    .ant-table-pagination {
      margin-top: 24px;
    }
  }

  .tableAlert {
    margin-bottom: 16px;
  }
}
