@import '~antd/lib/style/themes/default.less';

:global{
    .ant-tree .anticon > svg{
        font-size: 18px;
        vertical-align: middle;
    }
    .ant-tabs-bar {
        border-bottom: none;
        margin-bottom: 0;
    }
    .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
        background-color: #e6f5ff;
    }
    .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active{
        color: #298dff;
    }
    a:hover{
        color: #016FFF;
    }
}

.leafDot{
    width: 4px;
    height: 4px;
    display: inline-block;
    background-color: rgba(0,0,0,0.45);
    border-radius: 4px;
    vertical-align: middle;
}
.tabWrap{
    padding: 8px 40px 0 10px;
    border-bottom: 1px solid #E7E7E7;
    position: relative;
    .dropDownMenu{
        position: absolute;
        top: 18px;
        right: 16px;
        .dropDownMenuIcon{
            font-size: 20px!important;
        }
    }
    .tab{
        max-width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        padding-right: 32px;
        position: relative;
        .close-icon{
            position: absolute;
            right: 0;
            top: 12px;
            margin-right: 0;
        }
    }
}

// .codeContainer{
//     height: calc(100% - 48px);
// }
.btn-wrap{
    box-shadow: 0px -2px 6px 0px rgba(176,176,176,0.2);
    margin-left: -24px;
    .btnCol{
        background-color: #fff;
        height: 64px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .btn{
            margin-right: 8px;
        }
        .btn2{
            margin-right: 16px;
        }
    }
}